# Create ICS files
name: Generate ICS files

on:
  # manual run
  workflow_dispatch:

  # cron
  schedule:
    - cron: "0 0 1 * *" # first day of each month


# Cancel running actions if new commits are added
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.8'
          cache: 'pip'
          pip-install: "-r requirements.txt"

      - name: Run script
        run: python main.py

      - name: Upload release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: ./upload.sh
